<!-- whatever u write here will be rendered to body of the layout -->
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial /Profile
</h1>

<!-- user available bcoz we made res.locals.user=req.user in passport.js -->
<!-- <p><%= user.name%></p>
<p><%= user.email%></p> -->


<% if(user.id==profile_user.id){ %>
    <!-- if user matches then show the updation form otherwise just show profile info -->
    <form action="/users/update/<%=profile_user.id%>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
        
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="UPDATE">
    </form>
<%}else{%>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
<%}%>